#mainview{
    margin: 0 auto;
    padding: 20px;
    width: 80%;
}

.logo > img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
}

.search-box {
    display: flex;
    border: solid;
    border-color: #dfe1e5;
    border-radius: 100px;
    border-width: 1px;
    height: 45px;
    width: 500px;
    margin: 0 auto;
    overflow: hidden;
}

.search-box-icon {
    border-style: none;
    height: 20px;
    overflow: hidden;
    padding: 12px 10px;
    position: relative;
    width: 20px;
}

input {
    border-style: hidden;
    display: inline-block;
    position: relative;
    height: 100%;
    position: relative;
    font-family: arial;
    font-size: 16px;
    width: 90%;
}

.navbar {
    display: flex;
    justify-content: space-between;
    position: relative;
    top: -10px;
}


ul {
    padding-left: 0;
    padding-right: 10px;
    list-style-type: none;
}

li {
    position: relative;
    float: left;
    font-family: arial;
    font-size: 13px;
}

li > a {
    text-decoration: none;
    color: gray;
    display: block;
    padding: 8px;
}

li > a:hover {
    text-decoration: underline;
}

.google-apps-icon {
    position: relative;
    bottom: 2px;
    height: 22px;
    width: 22px;
}

.sign-in a {
    background-color: #4285f4;
    border-radius: 2px;
    color: white;
    font-weight: bold;
    text-align: center;
    width: 55px;
}